# Python detritus
*.orig
*.rej
*~
*.o
*.so
*.os
*.pyo
*.pyc

# Build detritus
*.log
build/*
dist/*
*.egg-info/
.eggs
*.swp
*.deb

# Various
.DS_Store
data
env
*.bak
*.tgz
__version__.py
.tox

# Documentation detritus
docs/build

# cjktools-specific
cjkdata
